.vscode/**
.vscode-test/**
node_modules/**
src/**
webview-ui/**
docs/**
project/**
.gitignore
.yarnrc
CLAUDE.md
pnpm-lock.yaml
pnpm-workspace.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
media/icon.svg
media/logo-128.png
